/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

/* Common-Styles */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(255, 255, 255, 1);
}
.common-btn{
    width: 168px;
    height: 44px;
    background-color:rgba(224, 44, 109, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
a{ 
    padding: 8px 24px 8px 24px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}
.fas{
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    margin-right: 15px; 
}
.common-btn:hover{
    background-color: coral;
    transition: .6s;
}

/* Header-Section */
.header-container{
    width: 1348px;
    height: 677px;
    background-color: rgba(45, 37, 160, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-txt h1{ 
    width: 485px;
    height: 230px;
    color: rgba(255, 255, 255, 1);
    font-size: 64px;
    line-height: 80px;
    font-weight: 700;
}
.banner-img img{
    width: 556px;
    height: 438px;
}
/* Main-section */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 960px;
    grid-gap: 27px;
    background-color: #F3F3F3;
    padding: 15px;
}
.player-img img{
    width: 100%;
}
.player{
    background-color: rgba(255, 255, 255, 1);
    padding: 20px;
}
.player-name{
    font-size: 28px;
    font-weight: 700;
    color: #18191Fs;
}
.player-about{
    font-size: 16px;
    font-weight: 400;
    color: #6C6C6C;
}

/* photo-and-video-gallery */

.photo-and-video-gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    width: 1000px;
    grid-gap: 30px;
}
.photo-gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    /* flex-wrap: wrap; */
}
.player-photo img{
    width: 100%;
    border-radius: 30px;
    border: 2px solid grey;
}
.player-detail{
    display: none;
    position: absolute;
    top: -14px;
    padding: 7px;
}
.photo-frame{
    position: relative;
    overflow: hidden;
    width: 210px;
    height: 250px;
    border-radius: 30px;
}
.player-info{
    padding: 10px;
}
.photo-frame:hover .player-detail{
    display: block;
    background-color: rgba(128, 128, 128, 0.527);
    border-radius: 30px;
    width: 205px;
    height: 250px;
    overflow: hidden;
    text-align: center;
    color: white;
}
.photo-frame:hover .player-photo{
    transform: scale( 1.3 );
    transition: 1s ;
}
.player-detail h3{
    color: orange;
}
/* About and contact */
.about-contact{
    width: 600px;
    display: flex;
    grid-gap: 30px;
}
.about{
    /* background-color: rgba(128, 128, 128, 0.527); */
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #F3F3F3;
}
.about h2{
    text-align: center;
}
.about p{
    /* text-align: justify; */
    color: #6C6C6C;
}
.contact{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #F3F3F3;

}
.contact h2{
    text-align: center;
}
/* Footer-Section */
footer{
    display: flex;
    flex-direction: column;
}
footer img{
    width: 350px;
    height: 80px;
    margin-left: 35%;
    margin-top: 100px;
}
.last-icon{
    text-align: center;
    margin-bottom: 70px;
    margin-top: 50px;
}
.footer-icon .fab{ 
    padding: 20px 10px;
    margin-left: 5px;
    font-size: 20px;
}
.copyright span{
    font-size: 16px;
    font-weight: 500;
}
.copyright .far{
    font-size: 12px;
    padding-left: 4px;
    padding-right: 5px;
}
/* Footer Section End */

 /* Media Queries */

 /* mobile devices */
 @media only screen and (max-width: 688px){
    
    .header-container{
       width: 100%;
       display: grid;
       justify-content: center;
       align-items: center;
       flex-direction: row;
       padding-left: 20px;
    }
    .banner-img img {
        width: 80%;
        height: 300px;
    }
    .banner-txt h1 {
        width: 390px;
        height: 200px;
        color: rgba(255, 255, 255, 1);
        font-size: 47px;
    }
    .container{
        width: 100%;
    }
   .players, .photo-and-video-gallery{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
   }
   .players{
       padding: 0;
   }
   .photo-frame{
       width: 100%;
   }
   .photo-gallery{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    display: none;
   }
   footer img {
    width: 250px;
    height: 80px;
    margin-left: 8%;
    margin-top: 100px;
}
iframe{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding: 10px;
}
.about-contact{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
}

/* tablet devices */

@media only screen and (min-width:689px) and (max-width:992px){
    .header-container{
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding-left: 30px;
     }
     .banner-img img {
         width: 70%;
         height: 350px;
     }
     .banner-txt h1 {
         width: 390px;
         height: 200px;
         color: rgba(255, 255, 255, 1);
         font-size: 47px;
     }
     .container{
         width: 100%;
     }
    .players, .photo-and-video-gallery{
     display: grid;
     grid-template-columns: repeat(1, 1fr);
    }
    .players{
        padding: 0;
    }
    .photo-frame{
        width: 100%;
    }
    .photo-gallery{
     display: grid;
     grid-template-columns: repeat(1, 1fr);
     display: none;
    }
    footer img {
     width: 250px;
     height: 80px;
     margin-left: 30%;
     margin-top: 100px;
 }
 iframe{
     height: 500px;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 30px;
     padding: 10px;
 }
 .about-contact{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
  
}